html
	head
		link(href="./style/main.css" rel="stylesheet" type="text/css")
	body
		.content 6688

	script(src='./libs/angular/angular.min.js')
	script(src='./libs/jquery/dist/jquery.min.js')
	script(src='./entry/main.js')


